<table width="950" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="30" colspan="5" align="left"><h1>宠物一帮 PETYB</h1></td>
    <td colspan="3" align="right">登录 | <a href="{cturl('member/reg')}">注册会员</a> 会员中心</td>
  </tr>
  <tr>
    <td height="30" align="center">网站首页</td>
    <td align="center">名犬展示</td>
    <td align="center">知名宠物店</td>
    <td align="center">种公借配</td>
    <td align="center">宠物医院</td>
    <td align="center">宠物用品</td>
    <td align="center">买卖信息</td>
    <td align="center">寻宠启示</td>
  </tr>
</table>
