<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{lang('管理员角色管理')}</title>
<link rel="stylesheet" href="skin/default/admin/css.css" type="text/css" media="screen" />
</head>
<body>
<table width="100%" border="0" cellspacing="10" cellpadding="0" id="info_box">
  <tr>
    <td>
<div class="info_title">{lang('管理员管理')} - {lang('管理员角色管理')}</div>
<div class="info_content">
<span class="tianjia"><a onclick="javascript:parent.windowsdig('{lang('添加角色')}','iframe:{url('role','add','1')}','900px','480px','iframe')" href="#body">{lang('添加角色')}</a></span>
  <table width="100%" class="table_site" border="0" cellpadding="0" cellspacing="0">
  <tr class="table_site_bt">
    <td width="50">ID</td>
    <td width="100">{lang('角色名称')}</td>
    <td>{lang('描述')}</td>
    <td width="80">{lang('用户量')}</td>
    <td width="300">{lang('操作管理')}</td>
  </tr> 
  {loop $row $item}
  <tr>
    <td>{$item['roleid']}</td>
    <td>{lang($item['rolename'])}</td>
    <td>{$item['intro']}</td>
    <td>{$item['usernum']}</td>
    <td>{lang('权限设置')} | {lang('栏目权限')} | <a href="{url('admin','list',1,array('roleid'=>$item['roleid']))}">{lang('成员管理')}</a> | {lang('修改')} | {lang('删除')}</td>
  </tr>
  {/loop}
  </table>
</div>
    </td>
  </tr>
</table>
</body>
</html>