<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<title>{lang('模板管理')} - {core_config::get('admin_title')} - Power By Sutoo CMS</title>
<link rel="stylesheet" href="{$base_dir}skin/admin/css.css" type="text/css" media="screen" />
<script type="text/javascript" src="{$base_dir}js/common.js"></script>
</head>
<body>
<table width="100%" border="0" cellspacing="10" cellpadding="0" id="info_box">
  <tr>
    <td><form action="{url('template','uplistfile',1)}" name="form1" method="post">
<div class="info_title">{lang('模板管理')}</div>
<div class="info_content">
  <table border="0" cellpadding="0" cellspacing="0">
    <td><span class="tianjia"><a onclick="javascript:parent.windowsdig('{lang('添加模板目录')}','iframe:{url('template','addskin',1)}','900px','320px','iframe')" href="#body">{lang('添加模板目录')}</a></span></td>
  </table>
  <table width="100%" class="table_site" border="0" cellpadding="0" cellspacing="0">
  <tr class="table_site_bt">
    <td width="80">{lang('模版标识')}</td>
    <td width="150">{lang('模版名称')}</td>
    <td width="80">{lang('模版作者')}</td>
    <td>{lang('描述')}</td>
    <td width="120">{lang('操作管理')}</td>
  </tr> 
  {loop $row $item}
  <tr>
    <td>{=$item->skin}</td>
    <td><input value="{=$item->name}" name="name[{=$item->skin}]" class="input-text-a" /></td>
    <td width="100">{=$item->author}</td>
    <td>{=$item->intro}</td>
    <td><a href="{url('template','xlist',1,array('skin'=>$item->skin,'intro'=>$item->intro))}">{lang('详情列表')}</a> | <a onclick="return enterdel('{lang('确定要删除吗?')}')" href="{url('template','delskin',1,array('skin'=>$item->skin))}">{lang('删除')}</a></td>
  </tr>
  {/loop}
  <tr>
    <td><input name="sub" type="submit" value="{lang('提交')}" /></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  </table>
</div></form>
    </td>
  </tr>
</table>
</body>
</html>