<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{lang('类别管理')}</title>
<link rel="stylesheet" href="{$base_dir}skin/{$template_dir}/admin/css.css" type="text/css" media="screen" />
<script type="text/javascript" src="{$base_dir}js/common.js"></script>
</head>
<body>
<form action="" name="form1" method="post">
<table width="100%" border="0" cellspacing="10" cellpadding="0" id="info_box">
  <tr>
    <td>
<div class="info_title">{lang('类别管理')}</div>
<div class="info_content">
  <table border="0" cellpadding="0" cellspacing="0">
    <td><span class="tianjia"><a onclick="javascript:parent.windowsdig('{lang('添加类别')}','iframe:{url('types','add','1',array('siteid'=>$siteid))}','900px','480px','iframe')" href="#body">{lang('添加类别')}</a></span> <span class="tianjia"><a onclick="javascript:parent.windowsdig('{lang('更新缓存')}','iframe:{url('types','upcache','1',array('siteid'=>$siteid))}','900px','480px','iframe')" href="#body">{lang('更新缓存')}</a></span></td>
  </table>
  <table width="100%" class="table_site" border="0" cellpadding="0" cellspacing="0">
  <tr class="table_site_bt">
    <td width="80"><input title="{lang('点击可全选本页的所有项目')}"  onclick="checkall(this.form)" type="checkbox" name="chkall" class="checkbox" /></td>
    <td width="80">{lang('类别编号')}</td>
    <td width="80">{lang('类别名称')}</td>
    <td>{lang('类别描述')}</td>
    <td width="80">{lang('操作管理')}</td>
  </tr> 
  {loop $row $item}
  <tr>
    <td><input name="ids[]" type="checkbox" value="{$item[typeid]}" /></td>
    <td>{$item[typeid]}</td>
    <td>{$item[typename]}</td>
    <td>{$item[intro]}</td>
    <td><a onclick="javascript:parent.windowsdig('{lang('修改类别')}','iframe:{url('types','edit',1,array('typeid'=>$item['typeid'],'siteid'=>$item['siteid']))}','900px','480px','iframe')" href="#body">{lang('修改')}</a> | <a onclick="return enterdel('{lang('确定要删除吗?')}')" href="{url('types','del',1,array('typeid'=>$item['typeid'],'typeid'=>$item['typeid']))}">{lang('删除')}</a></td>
  </tr>
  {/loop}
  </table>
</div>
<input type="hidden" name="batch" value="">
    <input type="button" value="{lang('批量删除')}" name="del" onclick="if(confirm('{lang('确定要删除吗?')}')){this.form.action='{url('types','batch',1,array('siteid'=>$item['siteid']))}'; this.form.batch.value='delete'; this.form.submit();}"/>
    </td>
  </tr>
</table>
</form>
</body>
</html>